body {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
h2,h1,h3 {
    font-family:I sans-serif;
    margin-top: 1.5em;
  }
h1 { 
     font-size: 32px;
}
table, td, th {
	border: 1px solid black;
}
figcaption {
	font-style: italic;
}

figure {
	float: right;
}